@using _2001230970_Trần_Lê_Thùy_Trâm_Buổi_10.Models;
@model List<NhaXuatBan>

<ul class="list-group list-group-flush text-left">
    <li class="list-group-item" style="background-color:darkorange;">
         <a href="#" style="text-transform:uppercase; text-decoration:none; color:white; font-weight:bold;">Nhà Xuất Bản</a>
    </li>
    @{foreach (var item in Model)
    {
        <li class="list-group-item">
            <a href="~/NhaXuatBan/SachTheoNXB?Manxb=@item.MaNXB">@item.TenNXB </a>
        </li>
    }
    }
        <li class="list-group-item">
            <a href="#" style="text-transform:uppercase; text-decoration:none;"> </a>
        </li>
    </ul>